*.swp
.build-aux/
.deps/
aclocal.m4
Makefile.in
Makefile
autom4te.cache/
config.log
config.status
configure
hexcalc
*.o
include/hexcalc-config.hh
include/hexcalc-config.hh.in
include/hexcalc-config.hh.in~
include/stamp-h1
src/.dirstamp
