*.swp
.build-aux/
.deps/
aclocal.m4
Makefile.in
Makefile
autom4te.cache/
config.log
config.status
configure
hexcalc
*.o
include/hexcalc-config.h
include/hexcalc-config.h.in
include/hexcalc-config.h.in~
include/stamp-h1
src/.dirstamp
